@{
    ViewData["Title"] = "Home Page";
}

<h2>OpenID Connect MVC Client</h2>
<h3><a href="/Home/Secure">View Secure Data</a></h3>
<h3><a href="/Home/CallApiUsingUserAccessToken">Call Api Using User Access Token</a></h3>
