<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HK_UrlEqulities" value="https://www.hkex.com.hk/Market-Data/Securities-Prices/Equities?sc_lang=en"/>
    <add key="HK_UrlStockTemplate" value="https://www.hkex.com.hk/Market-Data/Securities-Prices/Equities/Equities-Quote?sym={StockCode}&amp;sc_lang=en"/>
    <add key="HK_BrowserMaxCount" value="3"/>
    <add key="HK_StockListFile" value="C:\L\Robin_Han\Crawler\StockListFile.csv"/>
    <add key="HK_CrawlStockList" value="false"/>
    <add key="HK_StockPriceListDir" value="C:\L\Robin_Han\Crawler\StockPrice"/>
  </appSettings>
</configuration>